

/* # Variables */

:root {
    --splash-animation-duration-in: 125ms;
    --splash-animation-duration-out: 250ms;
    --aside-width: 19vw;

}




/* # Animations */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}



html,body {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;

}


body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black;
  color: white;
}



.button {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    padding: 1rem;;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    
}


#results {

    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height:5rem;




}


aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--aside-width);
    z-index: 2;
    gap: 1rem;
    border-right: 2px solid white;

}



#share {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
#share-copy {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    border: none;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#share-copy:hover {
    background: rgba(150,150,150,.2);
    color: white;

    cursor: pointer;
}
#share-copy:active {
    padding-top: 7px;
    cursor: pointer;
    font-weight: bold;
}


#settings {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    flex-grow: 1;
}

#settings-button {
    width: 100%;
    height: 100%;
    max-height: 4rem;
    min-height: 4rem;
    border-radius: 0%;
    border: none;
    font-size: 26px;
}

#settings-button:hover {
    background: rgba(150,150,150,.2);
    color: white;
    cursor: pointer;
}
#settings-button:active {
    padding-top: 7px;
    cursor: pointer;
    font-weight: bold;
}




main {
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}





#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: visibility 0s var(--splash-animation-duration-in),  height 0ms var(--splash-animation-duration-in), opacity var(--splash-animation-duration-in) 0ms !important;





}



#loaded {
    display:flex;
    flex-direction: row;
    height: 100%;
    transition: visibility 0s var(--splash-animation-duration-out), height 0ms var(--splash-animation-duration-out), opacity 200ms var(--splash-animation-duration-out) !important;

}

















@-webkit-keyframes slideIn {
    from { width: 0; }
    to { width: var(--aside-width); }
}
@keyframes slideIn {
    from { width: 0; }
    to { width: var(--aside-width); }
}


@-webkit-keyframes fadeIn2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}



@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
    inset: 1;
    opacity: 1;



}
input[type="button"].option {
    height: 5rem;
    width: 5rem;
}


ul {
    list-style: none;
    padding:0;
}

figure {

    font-size: 30px;
    margin: 0;
}

aside #users figure:first-of-type {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px outset rgba(3,3,3,.2);

}
figcaption {
    font-style: italic;
    color: #555;
}

figure > ul {

    border-bottom: 2px outset rgba(3,3,3,.2);

    padding-bottom: 1rem;


}

#users {

    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 32px;
    text-align: left;

}

#users li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1rem;

}


#users li span {
    width:100%;


}
#users li span input {
   width: 1rem;
   height: 1rem;
   line-height: 1rem;
}



section#storypointing > div > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    margin-bottom:0;
}




dialog {
    z-index: 1;
    background: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    transition: visibility 0s 400ms, height 0ms 400ms, opacity 200ms 400ms !important;


}
dialog[open] {
    animation: slidein 0.5s forwards;
}
dialog::backdrop {
    background: rgba(255,255,255,.5);
    animation: fadein 0.5s forwards;
}
dialog.close[open] {
  animation: slideout 0.5s forwards;
}

dialog.close::backdrop {
  animation: fadeout 0.5s forwards;
}
dialog > form {
   margin: 0 

}

input#storypointing-reveal {
    width: 100%;
    height: 3rem;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}


input#storypointing-restart {
    width: 100%;
    height: 3rem;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}


input[type="button"].option:focus  {
    background: rgba(150,150,150,.2);
    cursor: pointer;
    padding-top: 7px;
    border: none;


    color: white;
}

.hidden {
    visibility: collapse;
    opacity: 0;
    height: 0 !important;
    display: none;

}

.invisible {
    visibility: hidden;
}

canvas {
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    z-index:-1;
}

